.container {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 46px;
    width: 1080px;
  }
}
