.container {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    background-color: #e7eaf2;
    backdrop-filter: blur(50px);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }
}
