.container {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: #e7eaf2;
  color: #000000;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}

.table td {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.tableElement {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.table td:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
}

@media screen and (max-width: 767px) {
  .table tr {
    display: block;
  }

  .tableHead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table td {
    display: block;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: black;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .table {
    background-color: transparent;
  }

  .tableHead {
    background-color: #ffffff;
    border-radius: 30px;
  }

  .tableElement {
    border-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}
