.container {
  margin-top: 60px;
  background-color: pink;
  padding: 20px;
  max-width: 720px;
}

.typeContainer {
  border: 2px solid black;
}

.formField {
  display: block;
}

.formButton {
  display: block;
}

.dropDownContainer {
  color: black;
}

.dropDownField {
  max-width: 280px;
  height: 30px;
  background-color: ghostwhite;
}

.dropDownList {
  position: absolute;
  z-index: 1;
  margin: 0;
  max-height: 352px;
  width: 280px;
  overflow: scroll;

  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.6);
}

.dropDownList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dropDownItem {
  list-style: none;
  padding: 5px;
}

.selectedCategory {
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
