.balance {
    padding-bottom: 13px;
    padding-top: 8px;
    padding-left: 30px;
    width: 280px;
    background: #FFFFFF;
    border-radius: 30px;
}
.balanceTitle{
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A6A6A6;
}
.balanceValue{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.5;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .balance {
        width: 335px;
        padding-left: 40px;
    }
    
}

@media screen and (min-width: 1280px) {
    .balance {
        width: 350px;
    }
}
